.actions {
  @include adaptiveValue("padding-bottom", 120, 60);

  &__container {
  }

  &__body {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), rem(400)));
    column-gap: rem(20);
    @include adaptiveValue("row-gap", 50, 25);
    justify-content: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__pagination {
  }
}


.brands {
  @include adaptiveValue("padding-bottom", 120, 60);

  &__container {
  }

  &__body {
    display: grid;
    justify-content: center;
    @include adaptiveValue("gap", 20, 10, 1920, 360, 1);
    grid-template-columns: repeat(auto-fit, var(--bdsgd));
    align-items: center;
  }

  &__item {
    padding: rem(12);
    border-radius: rem(6);
    border: rem(1) solid #e6e6e6;
    display: flex;
    justify-content:center;align-items: center;
    img {
      max-width: 90%;
    }
  }
}


.credit {
  @include adaptiveValue("padding-bottom", 120, 60);
  @include adaptiveValue("font-size", 16, 12);
  img {
    max-width: 100%;
  }
  [class*="__head"] {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }

  &__container {
    display: grid;
    @include adaptiveValue("gap", 70, 35);
  }

  &__text {
  }

  &__pluses {
  }

  &__howbuy {
  }

  &__microinvest {
  }

  &__processing {
  }

  &__bottom {
  }
}
.text-credit {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 30, 15);
}
.pluses-credit {

  &__head {
  }

  &__body {
    display: grid;
    @include adaptiveValue("gap", 20, 10);
    @media (min-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__icon {
  }

  &__text {
  }

  &__label {
    font-weight: 700;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }
}
.howbuy-credit {

  &__head {
  }

  &__label {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }

  &__body {
    display: grid;
    @include adaptiveValue("gap", 20, 10);
  }

  &__list {
  }

  &__li {
    span {
      font-weight: 700;
      &:not(:last-child) {margin-bottom: rem(10);}
      display: inline-block;
    }
    &::before{
      content: "\2022";
      color: $red;
      font-weight: bold;
      display: inline-block;
      font-size: rem(18);
    }
  }

  &__sublist {
    padding-left: rem(18);
  }

  &__subli {
    display: flex;
    align-items: flex-start;
    gap: rem(5);
    &::before{
      content:'-';
      
    }
  }
}
.microinvest-credit {

  &__image {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }

  &__text {
    &:not(:last-child) {margin-bottom: rem(20);}
    @media (min-width:$mobileSmall){
      span {
        text-decoration: underline;
      }
    }
  }

  &__list {
    display: grid;
    gap: rem(10);
    @media (min-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }

  &__li {
    display: flex;
    align-items: center;
    gap: rem(8);
    &::before{
      content: "\2022";
      color: $red;
      font-weight: bold;
      display: inline-block;
      @include adaptiveValue("font-size", 25, 18);
    }
  }

  &__head {
  }

  &__label {
  }

  &__gray {
    color: #999;
    @include adaptiveValue("font-size", 14, 12);
  }
}
.redstar {
  color: $red;
}
.processing-credit {

  &__head {
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 20, 10);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }

  &__text {
  }

  &__image {
    img {
      @media (max-width:$mobileSmall){
        width: 100%;
      }
    }

    &_dsc {
      @media (max-width:$mobileSmall){
        display: none;
      }
    }

    &_mob {
      @media (min-width:$mobileSmall){
        display: none;
      }
    }
  }
}
.bottom-credit {

  &__head {
  }

  &__text {
  }
}

.shop {
  @include adaptiveValue("padding-bottom", 120, 60);

  &__container {
    display: grid;
    @include adaptiveValue("gap", 70, 35);
  }

  &__top {
    display: grid;
    @include adaptiveValue("gap", 30, 15);
  }

  &__image {
    img {
      max-width: 100%;
      @media (max-width:$mobileSmall){
        width: 100%;
      }
    }
  }

  &__text {
  }

  &__subtext {
  }

  &__bot {
    display: grid;
    @include adaptiveValue("gap", 30, 15);
  }

  &__list {
  }

  &__li {
    display: flex;
    align-items: center;
    gap: rem(8);
    &::before{
      content: "\2022";
      color: $red;
      font-weight: bold;
      display: inline-block;
      @include adaptiveValue("font-size", 25, 18);
    }
  }

  &__map {
    @include adaptiveValue("height", 600, 350);
    @include adaptiveValue("width", 1240, 290);
    #map {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}